.card__result{
    width : 90%;
    height: 20vh;
    border: 1px solid black;
}
.card__quantity{
    font-size: 15px;
}
.card_content{
    font-size: 8px;
}
.title__modal{
    font-size: 22px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px;
}
.content__modal{
    margin: 5px 5px 5px 5px;
    padding: 12px 12px;
}
.card__result{
    width : 90%;
    height: 20vh;
    border: 1px solid rgb(161, 159, 159);
    text-align: center;
    border-radius: 8px;
}
.card__quantity{
    font-size: 50px;
    padding: 2%;
}
.card_content{
    font-size: 10px;
    padding-bottom: 8%;
    font-weight: bold;
    color: rgb(80, 77, 77);
}
.title__modal{
    font-size: 22px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px;
}
.content__modal{
    margin: 5px 5px 5px 5px;
    padding: 12px 12px;
}
.txt{
    padding-top: 4%;
    padding-bottom: 4%;
}
.photo{
    text-align: center;
}
.capture{
    padding: 3%;
    margin: 2%;
    background-color: green;
    color: white;
    font-weight: bold;
}
.btn{
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
}